.singleCourses{
   /* border-bottom: 2px solid red; */
   padding: 20px;
   margin: 10px;
}
.icons-main FaStar{
    color: gold;
}
.singleCourses img{
    width: 100%
}
.singleCourses a{
    text-decoration: none;
    color: white;
}

.primary-btn{
width: 100%;
border: none;
}
@media screen and (max-width:376px) {
    .singleCourses{
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }
}
