.corseContainer-main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.coourseContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width:376px) {
    .coourseContainer{
        grid-template-columns: repeat(1,1fr);
    }
}